<% include partials/header %>

<h1>LogIn Page</h1>

<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Username" id="">
	<input type="password" name="password" placeholder="Password" id="">
	<input type="submit" value="Submit">
</form>

<% include partials/footer %>